@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	@font-face {
		font-family: 'Geomanist';
		src: url('/fonts/Geomanist/Geomanist-Black.otf') format('opentype'),
			url('/fonts/Geomanist/Geomanist-Bold.otf') format('opentype'),
			url('/fonts/Geomanist/Geomanist-Book.otf') format('opentype'),
			url('/fonts/Geomanist/Geomanist-Light.otf') format('opentype'),
			url('/fonts/Geomanist/Geomanist-Medium.otf') format('opentype'),
			url('/fonts/Geomanist/Geomanist-Regular.otf') format('opentype'),
			url('/fonts/Geomanist/Geomanist-Thin.otf') format('opentype'),
			url('/fonts/Geomanist/Geomanist-Ultra.otf') format('opentype');
	}
	body {
		/* background-image: url('../../public/images/background/home_background.png');
		background-attachment: fixed;
		background-size: cover;
		background-repeat: no-repeat;
		background-position: center; */
		background-color: #f6f7ff !important;
		height: 100%;
		overflow-x: hidden !important;
	}
	body::-webkit-scrollbar {
		width: 5px;
	}
	body::-webkit-scrollbar-track {
		background: #f1f1f1;
	}
	body::-webkit-scrollbar-thumb {
		background: #888;
		border-radius: 10px;
	}
}

@layer components {
	input[type='checkbox']:checked ~ label span svg {
		@apply inline-flex;
	}

	.sticky .header-logo {
		@apply py-5 lg:py-2;
	}

	.sticky .menu-scroll.active {
		@apply opacity-70;
	}

	input#togglePlan:checked ~ .dot {
		@apply translate-x-full;
	}

	input#checkboxLabel:checked ~ .box span {
		@apply opacity-100;
	}
}
